.sign-in-form{
    background: white;
        width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    border: 1px #dad3d3 solid; 
    margin-bottom:10%
}
.dashboard-content-container{
    background: #fafafac7;
}
.welcome-text h3{
    color: black
}
.active{
    color: #fff;
    background-color: #47bb67;
}